@font-face{
   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: 700;
   src: local('ProximaNova'),
        url(../fonts/ProximaNova-Bold.ttf) format('truetype'),
        url(../fonts/ProximaNova-Bold.woff) format('woff'),
        url(../fonts/ProximaNova-Bold.woff2) format('woff2');
}
@font-face{
   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: 300;
   src: local('ProximaNova'),
        url(../fonts/ProximaNova-Light.ttf) format('truetype'),
        url(../fonts/ProximaNova-Light.woff) format('woff'),
        url(..fonts/ProximaNova-Light.woff2) format('woff2');
}
@font-face{
   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: 500;
   src: local('ProximaNova'),
        url(../fonts/ProximaNova-Regular.ttf) format('truetype'),
        url(../fonts/ProximaNova-Regular.woff) format('woff'),
        url(../fonts/ProximaNova-Regular.woff2) format('woff2');
}
@font-face{
   font-family: 'ProximaNova';
   font-style: normal;
   font-weight: 600;
   src: local('ProximaNova'),
        url(../fonts/ProximaNova-Semibold.ttf) format('truetype'),
        url(../fonts/ProximaNova-Semibold.woff) format('woff'),
        url(../fonts/ProximaNova-Semibold.woff2) format('woff2');
}